<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Robotique</title>

		<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<center>
				<img src="{{ asset('img/titre.png') }}"/>
			</center>

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
				<a class="navbar-brand" href="#">&nbsp;</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item {% if route == '/' %}active{% endif %}">
							<a class="nav-link" href="{{ path('/') }}">Plateformes</a>
						</li>
						<li class="nav-item {% if route == '/formations' %}active{% endif %}">
							<a class="nav-link" href="{{ path('/formations') }}">Formations</a>
						</li>
						<li class="nav-item {% if route == '/groupe-de-travail' %}active{% endif %}">
							<a class="nav-link" href="{{ path('/groupe-de-travail') }}">Groupe de travail "ASPIC"</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Presse</a>
						</li>
					</ul>
				</div>
			</nav>

			{% block body %}{% endblock %}

			<hr/>

			<footer>
				<center>
					<a href="#"><img width="150" src="{{ asset('img/ub.svg') }}"/></a>
					<a href="#"><img width="150" src="{{ asset('img/inp.png') }}"/></a>
					<a href="#"><img width="150" src="{{ asset('img/aquitaine_robotics.svg') }}"/></a>
                    <a href="#"><img width="150" src="{{ asset('img/ims.png') }}"/></a>
				</center>
			</footer>
		</div>

		<script type="text/javascript" src="{{ asset('bootstrap/js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
	</body>
</html>
