{% extends 'base.html.twig' %}

{% block body %}

	<div class="intro">
		Working group mainly occurs on <strong>Monday, at 1pm (french time)</strong>.
	</div>

	<center>
		<div class="date-big">
			<div class="date">
				<div class="date-img">
					<img src="{{ asset('img/cal.png') }}"/>
				</div>
				<div class="date-text">
					<a href="http://r4-robotique.fr/ical">
            You can get your agenda on sync using the following ICAL:
					</a><br/>
					<kbd>http://r4-robotique.fr/ical</kbd>
          <br/>

          And/or by subscribing to the <a href="https://diff.u-bordeaux.fr/sympa/subscribe/r4-nouvelle-aquitaine" target="_blank">mailing list</a>.
				</div>
			</div>
		</div>
	</center>

    
    <div class="d-flex justify-content-center">
    <ul class="pagination">
    {% for y in years %}
    <li class="page-item {% if year == y%}active{% endif %} ">
        <a class="page-link" href="?y={{ y }}">{{ y }}</a>
    </li>
    {% endfor %}
    </ul>
    </div>


    {% if events|length == 0 %}
    <div class="alert alert-warning">
    Il n'y a aucun événement
    </div>
    {% else %}
    {% include '_navigation.html.twig' %}

	{% for event in events %}
		<div class="card flex-row flex-wrap m-2 {% if event.passed %}passed{% endif %}">
                    <div class="card-header border-0 col-sm-4 col-lg-2">
                        <div>
                            <div class="date">
                                <div class="date-img mr-1"><img src="{{ asset('img/calendar.png') }}"></div>
                                <div class="date-text">
                                    <b>
                                    {{ event.date_start|date('d M Y')|replace({' ': '&nbsp;'})|raw }} 
                                    <br/>
                                    <small>
                                        {{ event.date_start|date('H:i') }}h&rarr;{{ event.date_end|date('H:i') }}h
                                    </small>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            {{ event.where }}
                            {% if event.where == 'Remote' %}
                            <img class="ml-2" src="{{ asset('img/webcam.png') }}">
                            {% else %}
                                        <img class="ml-2" src="{{ asset('img/house.png') }}">
                            {% endif %}
                            {% if event.passed %}<span class="badge badge-danger">archive</span>{% endif %}
                        </div>
                    </div>

                    <div class="card-body col-sm-8 col-lg-10">
                        <h5 class="card-title">
                            {{ event.title|raw }}
                        </h5>
                        {% if event.abstract %}
                        <em>
                        <small>
                        {{ event.abstract|raw }}
                        </small>
                        </em>
                        <br/><br/>
                        {% endif %}
                        {% if event.speakers %}
                            <em>
                                {{ event.speakers }}
                            </em>
                        {% endif %}
                        {% if event['visio'] is defined %}
                            {% if event.speakers %}<br/>
                            {% endif %}
                            <em>
                                <a href="{{ event.visio }}">Accéder à la visio</a>
                            </em>
                        {% endif %}

                        {% if event.files %}
                            <hr/>
                            <em>
                                {% for name, file in event.files %}
                                    <a target="_blank" href="{{ file }}">{{ name }}</a>
                                    <br/>
                                {% endfor %}
                            </em>
                        {% endif %}

                        {% if event.youtube %}
                        {% include '_youtube.html.twig' with {v: event.youtube} %}
                        {% endif %}
			</div>
		</div>

	{% endfor %}

    {% include '_navigation.html.twig' %}

    {% endif %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/events.js') }}"></script>
{% endblock %}
