{% extends 'base.html.twig' %}

{% block body %}

	<div class="intro">
		Working group mainly occurs on <strong>Monday, at 1pm (french time)</strong>.
	</div>

	<center>
		<div class="date-big">
			<div class="date">
				<div class="date-img">
					<img src="{{ asset('img/cal.png') }}"/>
				</div>
				<div class="date-text">
					<a href="http://r4-robotique.fr/ical">
            You can get your agenda on sync using the following ICAL:
					</a><br/>
					<kbd>http://r4-robotique.fr/ical</kbd>
          <br/>

          And/or by subscribing to the <a href="{{ path('/contact') }}">mailing list</a>.
				</div>
			</div>
		</div>
	</center>

    <div class="top-navigation mt-2"></div>

    {% set page = 0 %}
    {% set current_page = 0 %}
    {% set items = 0 %}
    {% set new_page = true %}
    {% set only_passed = true %}

	{% for event in events %}
        
        {% set items = items + 1 %}
        {% if items >= 3 %}
        {% set new_page = true %}
        {% endif %}

        {% if only_passed == true and not event.passed %}
        {% set new_page = true %}
        {% set only_passed = false %}
        {% set current_page = page + 1 %}
        {% endif %}

        {% if new_page %}
        {% set new_page = false %}
        {% set items = 0 %}
        {% set page = page + 1 %}
        {% if page > 1 %}
        </div>
        {% endif %}
        <div class="events-page events-page-{{ page }} {% if current_page == page %}current-page{% endif %}">
        {% endif %}

		<div class="card flex-row flex-wrap m-2 {% if event.passed %}passed{% endif %}">

                    <div class="card-header border-0 col-sm-4 col-lg-2">
                        <div>
                            <div class="date">
                                <div class="date-img mr-1"><img src="{{ asset('img/calendar.png') }}"></div>
                                <div class="date-text">
                                    <b>
                                    {{ event.date_start|date('d M Y')|replace({' ': '&nbsp;'})|raw }} 
                                    <br/>
                                    <small>
                                        {{ event.date_start|date('H:i') }}h&rarr;{{ event.date_end|date('H:i') }}h
                                    </small>
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            {{ event.where }}
                            {% if event.where == 'Remote' %}
                            <img class="ml-2" src="{{ asset('img/webcam.png') }}">
                            {% else %}
                                        <img class="ml-2" src="{{ asset('img/house.png') }}">
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-body col-sm-8 col-lg-10">
                        <h5 class="card-title">
                            {{ event.title|raw }}
                        </h5>
                        {% if event.speakers %}
                            <em>
                                {{ event.speakers }}
                            </em>
                        {% endif %}
                        {% if event['visio'] is defined %}
                            {% if event.speakers %}<br/>
                            {% endif %}
                            <em>
                                <a href="{{ event.visio }}">Accéder à la visio</a>
                            </em>
                        {% endif %}

                        {% if event.files %}
                            <hr/>
                            <em>
                                {% for name, file in event.files %}
                                    <a target="_blank" href="{{ file }}">{{ name }}</a>
                                    <br/>
                                {% endfor %}
                            </em>
                        {% endif %}

			</div>
		</div>

	{% endfor %}

    </div>

    <script type="text/javascript">
    var events_page = {{ current_page }};
    var events_pages = {{ page }};
    </script>
    <div class="bottom-navigation">
    <div class="d-flex justify-content-center events-pagination">
    <nav aria-label="Pages">
    <ul class="pagination">
        <li class="page-item"><a class="page-link previous-page" href="#">&laquo;</a></li>
        {% for p in 1..page %}
        <li rel="{{ p }}" class="page-item change-page {% if p == current_page %}active{% endif %}"><a class="page-link" href="#">{{ p }}</a></li>
        {% endfor %}
        <li class="page-item"><a class="page-link next-page" href="#">&raquo;</a></li>
    </ul>
    </nav>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/events.js') }}"></script>
{% endblock %}